{% extends "entidades/trainer.html" %}

{% block titulo %}

<section class="trainer_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
            Entrenadores especializados
        </h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                </tr>
            </thead>
            <tbody>
            {% for e in entrenadores %}
                <tr>
                    <th>{{ e.id }}</th>
                    <th>{{ e.nombre }}</th>
                    <th>{{ e.apellido }}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
    </div class="container">
</section class="trainer_section layout_padding">
 

{% endblock titulo %}