{% extends "entidades/trainer.html" %}

{% block titulo %}

<section class="trainer_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
            Ingreso de 
            entrenadores
        </h2>
        <form action="" method="post">
            {% csrf_token %}
            <table>
                {{ form }}
            </table>
            <input type="submit" value="Guardar">
        </form>
      </div>
    </div class="container">
</section class="trainer_section layout_padding">
 

{% endblock titulo %}