{% extends "entidades/trainer.html" %}

{% block titulo %}

<section class="trainer_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
            Planes a tu medida
        </h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Tipo de Membresía</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
            {% for p in membresias %}
                <tr>
                    <th>{{ p.id }}</th>
                    <th>{{ p.nombre }}</th>
                    <th>{{ p.precio }}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
    </div class="container">
</section class="trainer_section layout_padding">
 

{% endblock titulo %}